*:not(body):not(html) {
  box-sizing: border-box;
  border: 1px dashed grey;
}

.box {
    @include height(400px);
    width: $column-width;
    float: left;
    overflow: hidden;
    @extend .item-box;
    @media screen and (max-width: 740px) {
      float: none;
      width: 100%;
    }
}
