.navbar {
  .ul {
    display: inline;
  }
  .menu {
    float:left;
    display: inline;
  }
  .contact {
    float: right;
  }
  display: inline-block;
}

.hero-image {
  img {
    width: 100%;
  }
}
