// colors

$fuschia: #a6206a;
$pink: #ec1c4b;
$orange: #f16a43;
$yellow: #f7d969;
$turquoise: #2f9395;
$dark-grey: #363636;
$muted-pink: #cc527a;
$light-grey: #a8a7a8;
$muted-blue: #547a82;
$off-white: #e1f5c4;
$hero-blue: #2B9EFC;

// formatting

$column-width: 25%;
